Source: grub2-theme-dark
Section: utils
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: grub2-theme-dark
Architecture: all
Pre-Depends: 
Depends: 
Replaces: 
Description: Grub2 Theme for HamoniKR
 HamoniKR boot loader theme


